  <%= flash[:notice] %>
<%=form_for(:user, :url => {:action=>:update_password, :id=>@user.id}) do |f|%>
<h3>
Change Password
</h3>

  <% if @user.errors.any? %>
    <div class="error">
    
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    
      </div>
  <% end %>

  <p>password
  <%= f.password_field :password, :maxlength=>18,:class => :textbox  %></p>

  <p>password verification  <%= f.password_field :password_confirmation, :maxlength=>18,:class => :textbox  %></p>
   
  <p class="button">

  <%= f.submit "update password" %></p>
<%end%>


<%= link_to('show', :action=>"show", :id=>@user.id) %>


