<%= form_for(@administration_merchant_offering) do |f| %>
  <% if @administration_merchant_offering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administration_merchant_offering.errors.count, "error") %> prohibited this administration_merchant_offering from being saved:</h2>

      <ul>
      <% @administration_merchant_offering.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :merchant_id %><br />
    <%= f.text_field :merchant_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
