<%= form_for(@administration_contact) do |f| %>
  <% if @administration_contact.errors.any? %>
    <div >
      <h2><%= pluralize(@administration_contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @administration_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <%= render :partial => "administration/contacts/merchants" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
