  <%= flash[:notice] %>
<%=form_for(:users, :url => {:action=>:update_password}) do |f|%>
<div class="account_detail">
  <div class="content">
    <div class="heading">
      Password
    </div>

  <% if @user.errors.any? %>
    <div class="error">
    
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    
      </div>
  <% end %>

<p class="label">old password</p>
  <p><%= f.password_field :old_password, :maxlength=>18,:class => :textbox  %></p>

  <p class="label">password</p>
  <p><%= f.password_field :password, :maxlength=>18,:class => :textbox  %></p>


  <p class="label">password verification </p>
  <p><%= f.password_field :password_confirmation, :maxlength=>18,:class => :textbox  %></p>
   
  <p class="button">

  <%= f.submit "update password" %></p>
</div>
</div>
<%end%>

<%#= link_to 'Show', @user %>
<%= link_to 'My Account', edit_user_path(@user) %>


