

      <%=flash[:error] %>
 
        <h3>change your password</h3>
        
        <%= form_for(:admin, :url=>{:controller=>:admin, :action=>:update_password, :id=>@admin.id})  do |f| %>
          <table>
            <tr>
              <td>
                <br/>
             &nbsp;<b><%= @admin.login  %></b>
              </td>

              </tr>
            <tr><td>
                password:<br/>
              <%= f.password_field :password %></td>

            </tr>
            <tr><td>
                confirm password:<br/>
              <%= f.password_field :password_confirmation %></td>

            </tr>
            <tr> <td><br/><%= f.submit 'Update' %> <%= link_to 'cancel', 'index' %></td> </tr>
          </table>
        <% end %>

  



  
