<table>
  <tr>
    <th width="100px"></th>
    <th align="left" width="100px">Sign ups</th>
    <th align="left" width="100px">Redemptions</th>
    <th align="left" width="100px">Verifications</th>

  </tr>
  <tr>
    <td width="100px" align="left">Today</td>
    <td width="100px" align="left"><%=@today_signups%></td>
    <td width="100px" align="left"><%=@today_redemptions%></td>
    <td width="100px" align="left"><%=@today_verifications%></td>
  </tr>
  <tr>
    <td width="100px" align="left">Total</td>
    <td width="100px" align="left"><%=@total_signups%></td>
    <td width="100px" align="left"><%=@total_redemptions%></td>
    <td width="100px" align="left"><%=@total_verifications%></td>
  </tr>
</table>