<%if !@feeds.nil? && @feeds.count > 0 %>
  <table cellpadding="5">
    <tr>

      <th align="left" width="150px">Time</td>
      <th align="left" width="50px">User id</td>
      <th align="left" width="150px">Package</td>
      <th align="left" width="150px">Name</td>
      <th align="left" width="150px">Action</td>
    </tr>
    <%@feeds.each do |feed|%>
      <tr>

        <td align="left" valign="top"><%=feed.created_at.strftime('%d/%m/%y at %I:%M %P')%></td>
        <td align="center" valign="top"><%=feed.user_id%></td>
        <% if !feed.merchant_package_id.nil? %>
          <td align="left" valign="top"><%= Administration::MerchantPackage.find_by_id(feed.merchant_package_id).title %> </td>
        <%else%>
          <td align="left" valign="top"><%= "None" %> </td>
        <%end%>
        <td align="left" valign="top"><%=User.find_by_id(feed.user_id).name rescue nil%></td>
        <td align="left" valign="top"><%=feed.event_body%></td>
      </tr>
    <%end%>

  </table>

<%else%>
  No feeds found

<%end%>

