<%= javascript_include_tag "nontouch/main.js"  %>
<h5>Forgot password</h5>
  <div class="error"><%= flash[:error] %></div>
  <%= form_for(:user, :url => {:controller => "/nontouch/users", :action=>"forgot_password"}) do |f|-%>
    <div>
      <p><%= label_tag 'Email Address'%><br />
      <%= f.text_field 'email',:class=>"textbox"%></p>

      
    </div>

  
  <%= submit_tag 'Email me password reset link', :onclick => "setResetType('email');"%> <br/>
  <%= submit_tag 'Text me password reset link', :onclick => "setResetType('mobile');"%>
  <%=hidden_field_tag "send_link_to"%>
  <% end -%>

  <br/>
<%= link_to "Login",:controller => :sessions, :action => :new %>

