<%= javascript_include_tag "mobile/main.js"  %>
<span class="header">Forgot Password</span>
  <div class="error"><%= flash[:error] %></div>
  <%= form_for(:user, :url => {:controller => :users, :action=>:forgot_password}) do |f|-%>
    <div>
      <p><%= label_tag 'Email Address'%><br />
      <%= f.text_field 'email',:class=>"textbox"%></p>

      
    </div>

  <div class="button"> <%= submit_tag 'Email me password reset link', :onclick => "setResetType('email');"%> </div>
  <div class="button"> <%= submit_tag 'Text me password reset link', :onclick => "setResetType('mobile');"%> </div>
  <%=hidden_field_tag "send_link_to"%>
<% end -%>
  
  <br/>
<%= link_to "Login",:controller => :sessions, :action => :new %>

